{
	"env": {
		"browser": true,
		"es2021": true,
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"plugin:prettier/recommended",
		"plugin:tailwindcss/recommended",
	],
	"plugins": ["react", "@typescript-eslint", "prettier", "import", "tailwindcss"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"useTabs": true,
				"tabWidth": 4,
				"semi": true,
				"bracketSpacing": true,
				"printWidth": 100,
				"trailingComma": "all",
				"endOfLine": "auto",
			},
		],
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"tailwindcss/no-unnecessary-arbitrary-value": "warn",
        "@typescript-eslint/no-unused-expressions": "warn"
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@assets", "./src/assets"],
					["@assets", "./src/assets/"],
					["@features", "./src/features"],
					["@features", "./src/features/"],
					["@core", "./src/core"],
					["@core", "./src/core/"],
					["@router", "./src/router"],
					["@router", "./src/router/"],
					["@api-gen", "./src/api-gen"],
					["@", "./src/"]
				],
				"extensions": [".ts", ".js", ".jsx", ".tsx", ".json"],
			},
		},
		"react": {
			"version": "detect",
		},
	},
}